# Nate Ledgerwood Section 8.2 Homework

SELECT Accel, RTRIM(Accel, ' sec')
FROM evCars

UPDATE evCars
SET Accel = RTRIM(Accel, 'sec')

SELECT Accel FROM evCars;

ALTER TABLE evCars
	RENAME Accel TO AccelSec

SELECT TopSpeed, Range, efficiency, FastCharge
FROM evCars
LIMIT 10

SELECT TopSpeed  FROM evCars;

SELECT TopSpeed, RTRIM(TopSpeed, 'km/h')
FROM evCars

UPDATE evCars
SET TopSpeed = RTRIM(TopSpeed, 'km/h')

SELECT TopSpeed FROM evCars;

SELECT TopSpeed, ROUND(TopSpeed * 0.621371, 1) 
FROM evCars

UPDATE evCars
SET TopSpeed = TopSpeed * 0.621371

ALTER TABLE evCars
RENAME TopSpeed TO TopSpeedMPH

SELECT ROUND(TopSpeedMPH, 1)
FROM evCars

SELECT *
FROM evCars

UPDATE evCars
SET	
	TopSpeedMPH = ROUND(TopSpeedMPH, 1)

SELECT *
FROM evCars

SELECT Range FROM evCars

SELECT Range, RTRIM(Range, 'km')
FROM evCars

UPDATE evCars
SET Range = RTRIM(Range, 'km')

UPDATE evCars
SET Range = ROUND(Range * 0.621371, 1)

ALTER TABLE evCars
RENAME Range TO rangeMiles

SELECT Efficiency, FastCharge
FROM evCars

UPDATE evCars
SET Efficiency = RTRIM(Efficiency, 'Wh/km')

UPDATE evCars
SET FastCharge = RTRIM(FastCharge, 'km/h')

SELECT *
FROM evCars

ALTER TABLE evCars
RENAME FastCharge TO OneHourFastChargesMiles

ALTER TABLE evCars
RENAME Efficiency TO efficiencyWHperKM

SELECT *
FROM evCars

UPDATE evCars
SET RapidCharge = REPLACE(RapidCharge, 'Rapid charging possible', 'YES')

SELECT PowerTrain, COUNT(*) FROM  evCars
GROUP BY PowerTrain

UPDATE evCars
SET PowerTrain = 'AWD'
WHERE PowerTrain = 'All Wheel Drive'

Update evCars
SET PowerTrain = 'RWD'
WHERE PowerTrain = 'Rear Wheel Drive'

UPDATE evCars
SET PowerTrain = 'FWD'
WHERE PowerTrain = 'Front Wheel Drive'

SELECT PowerTrain, COUNT(*) FROM  evCars
GROUP BY PowerTrain

SELECT PriceEuro, ROUND(PriceEuro * 1.09, 2) 
FROM evCars

UPDATE evCars
SET PriceEuro = PriceEuro * 1.09

ALTER TABLE evCars
RENAME PriceEuro TO PriceUSD